<h1>Listing Magazines</h1>

<% @magazines.each do |magazine| %>
      <%= render "magazine_row", magazine: magazine, order_item: @order_item %>
<% end %>


<% if can? :create, Magazine %>
<%= link_to 'New Magazine', new_magazine_path %>
<% end %>